<!DOCTYPE html>
<html>
  <head>
    <title>QUIZ</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <h1>QUIZ!!!!!!!!!</h1>
    <p>Bienvenido a quiz</p>
  </body>
</html>
